src/main/mule/sf-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="sf-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sf-sapi-config" api="sf-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="8552d91d-6029-4e9f-83e4-df24cecd69f4" >
		<tls:key-store type="jks" path="${secure::key.path}" alias="${secure::key.alias}" keyPassword="${secure::key.pass}" password="${secure::key.pass}" />
	</tls:context>
	<http:listener-config name="httpsListenerConfig" doc:name="HTTP Listener config" doc:id="95343b10-9bd9-4f5b-88d2-cc086eec1db1" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${secure::http.port}" tlsContext="TLS_Context" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="89072437-6bbe-4fb5-a4aa-3e095f1fa484" >
		<salesforce:basic-connection username="${secure::sf.user}" password="${secure::sf.pass}" securityToken="${secure::sf.token}" />
	</salesforce:sfdc-config>
	<flow name="sf-sapi-main">
        <http:listener config-ref="httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sf-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request",
	details : error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found",
	details : error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sf-sapi-console">
        <http:listener config-ref="httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sf-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\user\(id):sf-sapi-config">
		<try doc:name="Try" doc:id="61072ba7-4a65-4bb1-bbb8-afa6d84dc6ef" >
			<salesforce:query doc:name="Get By ID" doc:id="99b15ba9-8231-43fa-a06c-b25d864e97af" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT
	Id
FROM sfUsuarios__c
WHERE Id = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="156cd301-ba6a-439b-951b-a19a15cd5ca8" >
					<raise-error doc:name="Get By ID Error" doc:id="ddd0f34b-a3c5-46c1-bcf8-34744c8b6818" type="CUSTOM:INVALID_ID" description="An error ocurred. Please review the provided ID."/>
				</on-error-propagate>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="3d9b4971-b092-4e5c-a5bc-86c6b6465559" >
			<when expression="#[sizeOf(payload) &gt;= 1]">
				<ee:transform doc:name="Id Mapping" doc:id="0ccd3a32-f338-4aad-887d-0ab0137a54c4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:delete doc:name="Delete By ID" doc:id="08111071-acbb-43da-b011-b3a22cd891cb" config-ref="Salesforce_Config" />
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="533a192e-8959-4669-b27e-0d5d4eba277d" type="CUSTOM:NOT_FOUND" description="The provided user does not exist"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="f2c36042-417e-4e1a-8c5c-5bc43f095539" >
			<when expression="#[payload.successful == true]">
				<ee:transform doc:name="User Deleted" doc:id="f97d0505-c1d4-4a9f-b698-ff0260dda0bb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "User deleted."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="User Not Deleted" doc:id="c33f72ee-4831-46f5-b7fd-2f0adf537831" type="CUSTOM:NOT_DELETED"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a06a003d-6dc1-4f90-9a68-3fc1ae0f24ab" type="CUSTOM:NOT_DELETED">
				<ee:transform doc:name="Not Deleted Error" doc:id="c9e653d1-e3a5-4ed3-9add-f9b11b7a753e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="12d37119-1b79-418f-b4ca-043ac26114d4" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="941e244e-e5f7-448f-a886-e84258701658" type="CUSTOM:INVALID_ID">
				<ee:transform doc:name="Invalid ID Error" doc:id="f15da013-5347-4a6d-a155-056960b25d5b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="d6c39623-f3a6-4acf-a6bd-f706620e0133" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f05d605f-3e3d-44bd-98f9-d0e9ccf0bb3e" type="CUSTOM:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="75c6f304-380a-4bf1-ad0c-6b7dcc94ec6f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "The provided ID does not exist."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="0e552944-70a1-4b8d-beb4-398f21f657d2" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f4c85e02-65b5-4352-9404-4f4bb076f232" >
				<ee:transform doc:name="Transform Message" doc:id="9cabd71f-e1e2-4f94-8241-d1c4c26fe41a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="patch:\user\(id):multipart\form-data:sf-sapi-config">
		<ee:transform doc:name="Transform Body" doc:id="8c9d3e31-980a-4f0f-af9b-4b081f696ee8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload.parts]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[{&#10;	ID : attributes.uriParams.id,&#10;	fName__c : payload.fName.content,&#10;	lName__c : payload.lName.content,&#10;	email__c : payload.email.content,&#10;	gender__c : payload.gender.content&#10;}]]" doc:name="Set User" doc:id="4c9ad604-2751-4e10-be17-a8737b0b656c" variableName="user"/>
		<salesforce:update doc:name="Patch User" doc:id="34bb7778-e21d-46e0-ad7e-f913c3f03e8a" config-ref="Salesforce_Config" type="sfUsuarios__c" >
			<salesforce:records ><![CDATA[#[vars.user]]]></salesforce:records>
		</salesforce:update>
		<choice doc:name="Choice" doc:id="2228a327-0b69-46a5-86ec-7143b470cde5" >
			<when expression="#[payload.successful == true]">
				<ee:transform doc:name="User Modified" doc:id="aa77cdf7-d954-4f90-aae8-7933dabe805e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "User modified."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="User Not Modified" doc:id="3a93e0bb-2f83-493b-ad1f-d70a85f7974d" type="CUSTOM:NOT_MODIFIED" description="User not found or not modified. Check the provided ID."/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ea795c16-e8ac-44e5-bc26-eb4cd271567e" type="CUSTOM:NOT_MODIFIED">
				<ee:transform doc:name="Transform Message" doc:id="998863c8-3162-4070-bf37-2fc8298f388b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "An error ocurred.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="Set Status" doc:id="51519b81-e53e-40dc-9d54-a5a540c05619" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e7343989-1c8c-487d-ba31-cb9f3252c67f" >
				<ee:transform doc:name="Transform Message" doc:id="0681e38b-a221-461d-853f-60466acb38fd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "An error ocurred.",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\user\(id):sf-sapi-config">
		<salesforce:query doc:name="Get User" doc:id="30a1d0c2-e65b-4153-83e6-0acffe90656d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, fName__c, lName__c, email__c, gender__c
FROM sfUsuarios__c
WHERE Id = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="70f98ef0-d594-48fb-88b8-bdbb8a31af32" >
			<when expression="sizeOf(payload) &gt;= 1">
				<ee:transform doc:name="User Found" doc:id="84247dd6-1562-4abb-9758-90269df9293e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="User Not Found" doc:id="fbbc0098-50fc-491e-a465-b92b80b1625c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontro el usuario."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="c7e967a0-858c-4533-935d-b08d1ebe97df" variableName="httpStatus"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\user:sf-sapi-config">
		<salesforce:query doc:name="Get Users" doc:id="475659ca-bc49-41d7-9958-afb985715a6a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, fName__c, lName__c, email__c, gender__c
FROM sfUsuarios__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="9736d6c1-299d-41d7-b1e8-cfb306f7b506" >
			<when expression="#[sizeOf(payload) &gt;= 1]">
				<ee:transform doc:name="Users Found" doc:id="ae7e96e3-2485-4806-b80c-4e39f083700c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	dataSize: sizeOf(payload),
	data: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Users Not Found" doc:id="0d97195d-d5b6-461f-a20a-3f4978870ac1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set Status" doc:id="d9f01853-04d5-439a-8ebb-351fd4ebbdf7" variableName="httpStatus"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\user:multipart\form-data:sf-sapi-config">
		<set-variable value="#[payload.parts.file.content]" doc:name="File Content" doc:id="e446406b-4ea0-4a9b-a7f0-5fa8c842339b" variableName="fileContent"/>
		<ee:transform doc:name="Transform Body" doc:id="f0445958-f2f3-4c22-a752-af02685ee759" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload.parts]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="1d2d1638-7d3a-4046-b94c-79f8822916d8" >
			<route >
				<set-variable value='#[payload.file.headers."Content-Disposition".filename default ""]' doc:name="Set FileName" doc:id="01ac8b8a-33fe-4a9e-af3b-27b5f95352db" variableName="fileName" />
			</route>
			<route >
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;[{&#10;	fName__c : payload.fName.content,&#10;	lName__c : payload.lName.content,&#10;	email__c : payload.email.content default "",&#10;	gender__c : payload.gender.content default "Male"&#10;}]]' doc:name="Set Body" doc:id="100bf15c-022d-41b1-b60f-5f0231b4368f" variableName="body" />
			</route>
		</scatter-gather>
		<salesforce:create type="sfUsuarios__c" doc:name="Create User" doc:id="84f1dc6b-e398-488f-a141-18f601f874fa" config-ref="Salesforce_Config">
			<salesforce:records><![CDATA[#[vars.body]]]></salesforce:records>
		</salesforce:create>
		<choice doc:name="Choice" doc:id="9dbffb63-f672-4707-acf5-955eb96ec797" >
			<when expression="#[payload.successful == true]">
				<set-variable value="#[payload.items[0].id]" doc:name="Set Id" doc:id="e9d2f80f-97db-42a9-8acb-1e0bc0740d0f" variableName="id"/>
				<flow-ref doc:name="Upload Image" doc:id="6b379a51-3475-41b6-8658-1b72d5f76d40" name="file-uploading"/>
			</when>
			<otherwise>
				<raise-error doc:name="User Not Created" doc:id="a03a833e-474d-49bc-8397-35b0a5d8e142" type="CUSTOM:USER_NOT_CREATED"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="c92004f9-8590-4d20-8556-06696ec8c9a9" >
			<when expression="#[vars.imageError == true]">
				<ee:transform doc:name="Image Not Uploaded" doc:id="5228f7b8-e650-4a39-842f-c62a8d4f2157" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Usuario creado. No se pudo insertar la imagen."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="User Created" doc:id="6d4b9164-6dd7-446e-81a4-f0a780bafff2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Usuado creado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="aa1471c4-fe28-4e6c-b809-9e55e4f59673" >
				<ee:transform doc:name="User Not Created" doc:id="66bcbf7a-8df0-48b4-acc1-e009013bd65c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Error al crear el usuario",
	details : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<sub-flow name="file-uploading" doc:id="f9aeb7a9-db39-4e59-a298-e2499b8ac87f" >
		<try doc:name="Try" doc:id="a8552ba3-c9d3-4e7a-9851-194cb1180b77" >
			<ee:transform doc:name="Map Object To Binary" doc:id="0589d0ec-aa1f-4f1d-809d-8ec8a867a997">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
[{
  PathOnClient: vars.fileName,
  VersionData: vars.fileContent as Binary {
    class: "byte[]"
  }
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<salesforce:upsert objectType="ContentVersion" externalIdFieldName="id" doc:name="Upload File" doc:id="d1f2a528-0094-4090-ace8-9e2e3e09ee09" config-ref="Salesforce_Config" />
			<salesforce:query doc:name="Get Document Link" doc:id="7534ee84-c26d-4669-b54b-109925277f48" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT ContentDocumentId
FROM ContentVersion
WHERE ID = ':cvId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	cvId : payload.items[0].id
}]]]></salesforce:parameters>
		</salesforce:query>
			<ee:transform doc:name="Transform Message" doc:id="a21a9cbe-ed7b-4f6b-9f94-1a555f52deaf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	LinkedEntityId: vars.id as String,
	ContentDocumentId: payload01.ContentDocumentId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<salesforce:upsert objectType="ContentDocumentLink" externalIdFieldName="id" doc:name="Create Document Link" doc:id="72dceca2-8483-4a72-b730-bb25493052f2" config-ref="Salesforce_Config" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9ec5b9ed-7997-477e-a3ea-078bd6d3bd2f" >
					<set-variable value="#[true]" doc:name="Set Image Error" doc:id="25c8cbea-822a-462a-bc62-3265640d82ae" variableName="imageError"/>
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
